.estyvida-backgrd{
    text-align: center;
    background-color: #eda753;
}

.estyvida-txt{
    padding: 13px;
    margin-bottom: 0;
    color: white;
    font-family: monospace;
}

.sideBar-fontSize{
    font-size: 13px;
    margin-bottom: 14%;
    padding-top: 3px;
    padding-left: 10px;
    color: white;
    text-decoration-line: underline!important;
    text-decoration-color: #546ca9!important;
}

.icon-mar-right{
    margin-right: 10px;
    margin-left: 12px;
    color: #eea754;
}

.icon-arrow{
    font-size: 8px;
    color: white;
}

.hr-top{
    margin-top: 0%;
    margin-bottom: 5%;
}

.gen-contain{
    background-color: rgb(84 108 169);
}

.nav-font-img{
    font-size: 40px;
    padding: 5px;
    transform: rotate(-29deg);
    color: #a7a7ad;
}

.estyvidat-manag-txt{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #827d7d;
    font-size: 25px;
}

.estyvida-weight{
    font-weight: 800;
}

.search-style{
    width: 100%;
    border-radius: 50px;
    text-align: right;
    padding-right: 0;
}

.search-img{
    position: absolute;
    margin-left: 10px;
    color: #b1b4b7;
}

.side-height-col-2{
    background: rgb(84 108 169);
}

.footer-txt{
    text-align: center;
    font-size: 13px;
    color: #546ca9;
    background-color: #f8f9fa;
    padding: 15px;
    font-weight: 600;
}

.footer-blank{
    background-color: #546ca9;
    margin-bottom: 16px;
}

.btn-signout {
    font-size: 12px!important;
    padding: 8.5px!important;
    background-color: #546ca9!important;
    border: none!important;
}